{% block footer %}
<nav class="navbar fixed-bottom navbar-light bg-light">
<div class="container justify-content-center">
{% load static %}
<a class="navbar-brand" href="https://www.djangoproject.com/"><img src="{% static 'img/django.png' %}" width="50" height="60" alt=""></a>
  <a class="navbar-brand " href="https://www.mysql.com/"><img src="{% static 'img/mysql.png' %}" width="60" height="70" alt=""></a>
  <a class="navbar-brand " href="https://www.w3.org/html/"><img src="{% static 'img/html5.png' %}" width="60" height="60" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics"></a>
  <a class="navbar-brand" href="https://www.debian.org/index.es.html"><img src="{% static 'img/debian2.png' %}" width="45" height="65" alt=""></a>
  
</div>
